footer {
    position: relative;
    border-top: 1px solid #593D85;
    overflow: hidden;
}

footer::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #ADABAB14;
    z-index: 0;
}

.rodape {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 85px 155px 0;
}

.rodape-primeiro-container {
    display: flex;
    flex-direction: column;
}

.rodape-titulo {
    font-size: 43px;
    font-weight: 700;
    letter-spacing: -2px;
    background: linear-gradient(to right, #E44963, #FD9452);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.rodape-secao-pesquisa {
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    width: 277px;
    height: 44px;
}

.rodape-secao-filtro-pesquisar {
    margin-left: 15px;
    border: none;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: 200;
    width: 250px;
    background-color: transparent;
    color: #BFB4D0;
}

.rodape-redes-sociais {
    margin-top: 30px;
}

.rodape-redes-sociais-icones {
    margin-right: 20px;
}

.rodape-versao-desktop {
    display: flex;
    gap: 40px;
}

.rodape-segundo-container {
    display: flex;
    gap: 65px;
}

.rodape-adaptacao-mobile {
    display: flex;
    gap: 65px;
}

.rodape-lista-coluna {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rodape-lista-titulo {
    font-weight: 700;
    font-size: 24px;
    font-family: 'Open Sans';
    color: #BFB4D0;
}

.rodape-lista {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rodape-lista-botao {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Open Sans';
    color: #BFB4D0;
}

.rodape-linha {
    background-color: #593D85;
    height: 1px;
    width: 100%;
    margin: 30px 0;
}

.rodape-terceiro-container {
    display: flex;
    flex-direction: column;
}

.rodape-terceiro-container-conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.centralizar-creditos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-container-creditos {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    color: #BFB4D0;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    position: relative;bottom: 50px;
    width: 65%;
}

.rodape-container-creditos p {
    width: 50%;
}

.rodape-container-botao {
    background: linear-gradient(to right ,#E44963 ,#FD9452);
    border-radius: 5px;
    width: 150px;
    height: 46px;
}

.rodape-container-botao a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #ffffff;
    width: 150px;
    height: 46px;
}

@media (max-width: 430px) {
.rodape {
padding: 20px 0 20px;
}

.rodape-secao-pesquisa {
margin-top: 10px;
}

.rodape-redes-sociais {
margin-top: 10px;
}

.rodape-versao-desktop {
flex-direction: column;
align-items: center;
}

.rodape-primeiro-container {
text-align: center;
align-items: center;
}

.rodape-segundo-container {
gap: 20px;
flex-direction: column;
margin-left: 10px;
}

.rodape-lista-botao {
font-size: 14px;
}

.rodape-linha {
margin: 30px;
width: 90%;
}

.rodape-linha-topo {
background-color: #593D85;
height: 1px;
width: 90%;
}

.rodape-terceiro-container {
gap: 10px;
}

.rodape-terceiro-container-conteudo {
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}

.rodape-container-creditos {
position: relative;bottom: 0;
width: 100%;
}

.rodape-container-creditos p {
    width: 100%;
}

}

@media (min-width: 431px) and (max-width: 1030px) {
.rodape {
padding: 20px 0 0px;
align-items: center;
}

.rodape-versao-desktop {
flex-direction: column;
align-items: start;
gap: 10px;
}

.rodape-primeiro-container {
flex-direction: row;
gap: 70px;
}

.rodape-secao-pesquisa {
margin-top: 0px;
}

.rodape-redes-sociais {
margin-top: 15px;
}

.rodape-linha-topo {
background-color: #593D85;
height: 1px;
width: 100%;
}

.rodape-linha {
width: 90%;
}

.rodape-terceiro-container-conteudo {
gap: 430px;
}
}