.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    padding: 44px 0;
}

.cabecalho-container-botao {
    display: flex;
    gap: 18px;
}

.menu-hamburguer {
    display: none;
    cursor: pointer;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 90%;
    gap: 4px;
}

.linhas {
    background-color: #FFFFFF;
    width: 23px;
    height: 2px;
    border-radius: 1px;
}

.cabecalho-botao-entrar {
    background-color: transparent;
    padding: 14px 18px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-family: var(--fonte-paragrafo);
    color: #ffffff;
}

.cabecalho-botao-anunciar {
    background: linear-gradient(to right ,#E44963 ,#FD9452);
    padding: 15px 35px;
    border-radius: 5px;
    font-family: var(--fonte-paragrafo);
    color: #FFFFFF;
}

@media (max-width: 430px) {
    
.cabecalho {
margin: 0 26px;
padding: 27px 0;
}

.cabecalho-container-logo img{
width:  70%;
}

.menu-hamburguer {
display: flex;
flex-direction: column;
justify-content: center;
}

.cabecalho-botao-anunciar  {
display: none;
}

.cabecalho-botao-entrar {
display: none;
}
}

@media (min-width: 431px) and (max-width: 1030px) {

.cabecalho {
margin: 0 24px;
padding: 40px 0;
}

.menu-hamburguer {
display: flex;
flex-direction: column;
justify-content: center;
}

.cabecalho-botao-anunciar  {
display: none;
}

.cabecalho-botao-entrar {
display: none;
}
}


