.primeira-secao {
    display: flex;
    flex-direction: column;
    margin-top: 144px;
    gap: 200px;
}

.primeira-secao-container {
    display: flex;
    flex-direction: column;
}

.primeira-secao-titulo {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -2px;
    background: linear-gradient(to right, #E44963, #FD9452);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.primeira-secao-titulo span{
    color: #ffffff;
}

.primeira-secao-paragrafo {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #BFB4D0;
    margin: 35px 0 35px 0;
}

.pesquisa {
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    background-color: #A2A2A238;
    border-radius: 5px;
    padding: 0px 20px;
    max-width: 454px;
    height: 61px;
}

.filtro-pesquisar {
    border: none;
    font-family: 'Open Sans';
    margin-right: 16px;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    color: #ffffff;
}

.linha-pesquisar {
    background-color: #ffffff;
    height: 35px;
    width: 1px;
}

.barra-pesquisa {
    border: none;
    font-family: 'Open Sans';
    padding-left: 20px;
    width: 220px;
    border-radius: 6px 0 0 6px;
    font-weight: 400;
    font-size: 20px;
    background-color: transparent;
    padding-bottom: 5px;
}


.botao-pesquisar {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    position: relative;top: 5px;
}

@media (max-width: 430px) {

.primeira-secao {
margin-top: 314px;
z-index: 1;
gap: 55px;
}

.primeira-secao-container {
text-align: center;
align-items: center;
}

.primeira-secao-titulo {
font-size: 38px;
}

.primeira-secao-paragrafo {
font-size: 20px;
margin: 24px 0 24px;
}

.pesquisa {
border: 1px solid #a9a9a9;
flex-direction: column-reverse;
max-width: 340px;
height: 100px;
padding: 0 10px 0 10px;
margin: 0 auto;
}

.linha-pesquisar {
height: 1px;
width: 340px;
margin-top: 5px;
background-color: #a9a9a9;
}

.agrupar-pesquisa {
margin-left: -20px;
}

.barra-pesquisa {
font-size: 18px;
margin-right: 110px;
}

.filtro-pesquisar {
font-size: 18px;
margin: 10px 0 10px;
color: #a9a9a9;
min-width: 340px;
}

.primeira-secao-logotipos img {
width: 100%;
}
}

@media (min-width: 431px) and (max-width: 1030px) {
    
.primeira-secao {
margin:85px 0 0 25px;
}

.primeira-secao-titulo {
font-size: 43px;
}

.primeira-secao-paragrafo {
font-size: 23px;
margin: 24px 0 24px;
}

.pesquisa {
border: 1px solid #a9a9a9;
flex-direction: column-reverse;
max-width: 340px;
height: 100px;
padding: 0 10px 0 10px;
margin: 0 0;
}

.linha-pesquisar {
height: 1px;
width: 340px;
margin-top: 5px;
background-color: #a9a9a9;
}

.agrupar-pesquisa {
margin-left: -20px;
}

.barra-pesquisa {
font-size: 18px;
margin-right: 110px;
}

.filtro-pesquisar {
font-size: 18px;
margin: 10px 0 10px;
color: #a9a9a9;
min-width: 340px;
}

.primeira-secao-logotipos {
margin-top: 200px;
}

.primeira-secao-logotipos img {
width: 100%;
}
}