.quinta-secao {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quinta-secao-primeiro-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quinta-secao-titulo {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -2px;
    background: linear-gradient(to right, #E44963, #FD9452);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: -5px;
}

.quinta-secao-segundo-container {
    margin-top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quinta-secao-icone-controle {
    width: 15%;
    margin:360px -65px 0 0;
    z-index: 1;
}

.quinta-secao-icone-chat {
    width: 15%;
    margin:-360px 0 0 -55px;
}

.quinta-secao-botao {
    background: linear-gradient(to right ,#E44963 ,#FD9452);
    padding: 15px 35px;
    border-radius: 5px;
    font-family: var(--fonte-paragrafo);
    color: #FFFFFF;
}

@media (max-width: 430px) {
    
.quinta-secao {
margin-top: 80px;
}

.quinta-secao-titulo {
font-size: 40px;
}

.quinta-secao-segundo-container {
margin-top: -30px;
}

.imagem-palavra-gamers {
width: 80%;
}

.imagem-gamer {
width: 80%;
}

.quinta-secao-icone-controle {
width: 15%;
margin:140px -15px 0 0;
z-index: 1;
}

.quinta-secao-icone-chat {
width: 15%;
margin:-130px 0 0 -15px;
}

.quinta-secao-terceiro-container {
margin-top: 20px;
}

.botao-quinta-secao {
padding: 8px 13%;
}
}

@media (min-width: 431px) and (max-width: 1030px) {

.quinta-secao {
margin-top: 80px;
}

.quinta-secao-titulo {
font-size: 40px;
}

.quinta-secao-segundo-container {
margin-top: -30px;
}

.imagem-palavra-gamers {
width: 80%;
}

.imagem-gamer {
width: 80%;
}

.quinta-secao-icone-controle {
width: 15%;
margin:250px -45px 0 0;
z-index: 1;
}

.quinta-secao-icone-chat {
width: 15%;
margin:-280px 0 0 -35px;
}

.quinta-secao-terceiro-container {
margin-top: 40px;
}
}