.sexta-secao {
    margin-top: 175px;
    display: flex;
    gap: 67px;
}

.sexta-secao-segundo-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.sexta-secao-titulo {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -2px;
    background: linear-gradient(to right, #E44963, #FD9452);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.sexta-secao-titulo span {
    color: #FFFFFF;
}

.sexta-secao-paragrafo-formatacao {
    width: 500px;
}

.sexta-secao-paragrafo {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
    color: #BFB4D0;
    margin: 15px 0 15px 0;
}

.br-mobile {
    display: none;
}

.sexta-secao-botao {
    background: linear-gradient(to right ,#E44963 ,#FD9452);
    padding: 10px 15px;
    border-radius: 5px;
    font-family: var(--fonte-paragrafo);
    color: #FFFFFF;
    width: 140px;
    text-align: center;
}

@media (max-width: 430px) {
.sexta-secao {
margin-top: 75px;
flex-direction: column;
gap: 7px;
justify-content: center;
}

.sexta-secao-primeiro-container {
margin: 0px;
display: flex;
justify-content: center;
}

.imagem-card {
width: 65%;
}

.sexta-secao-segundo-container {
margin: 20px 0 60px;
text-align: center;
align-items: center;
}

.sexta-secao-titulo {
font-size: 40px;
}

.br-sexta-secao {
display: block;
}

.sexta-secao-paragrafo {
font-size: 20px;
}

.br-mobile {
display: block;
}
}

@media (min-width: 431px) and (max-width: 1030px) {
.sexta-secao {
margin: 125px 0 80px;
display: flex;
gap: 20px;
}

.sexta-secao-primeiro-container {
margin: 0px 0 0 80px;
}

    
.imagem-card {
width: 350px;
height: 460px;
}

.sexta-secao-segundo-container {
margin: 60px 0 30px 0px;
}

.sexta-secao-titulo {
font-size: 40px;
}

.br-sexta-secao {
display: block;
}

.sexta-secao-paragrafo {
font-size: 20px;
}

.br-mobile {
display: block;
}
}